$main-font-light: 'Lato Light', sans-serif;
$main-font-regular: 'Lato Regular', sans-serif;
$main-font-bold: 'Lato Bold', sans-serif;


$text-xl: 18px; 
$text-l: 16px; 
$text-m: 14px; 
$text-sm: 13px; 
$text-s: 12px; 
$text-xs: 10px;

